.whitecard {
  background-color: #ffffff;
}

.bluecard {
  background-color: #f0f2f5;
}

.jobcard {
  // border-radius: 20px;
  border-style: groove;
}

.button {
  border-style: unset;
  size: 100%;
}

.select-filter {
  display: flex;
  padding-top: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  .scroll-div {
    .scroll-img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
}

.MuiChip-root.green-chip {
  background-color: green;
  color: white;
}

.MuiChip-root.yellow-chip {
  background-color: rgb(187, 156, 18);
  color: white;
}
