.whitecard {
  background-color: #ffffff;
}

.bluecard {
  background-color: #f0f2f5;
}

.jobcard {
  // border-radius: 20px;
  border-style: groove;
}

.button {
  border-style: unset;
  size: 100%;
}
